<?xml version="1.0" encoding="UTF-8"?>
<server description="Service A">

    <featureManager>
        <feature>microProfile-4.0</feature>
        <feature>jpa-2.2</feature>
    </featureManager>

    <library id="postgresql-library">
        <file name="jdbc/postgresql.jar" />
    </library>
    
    <jdbcDriver id="postgresql-driver"
                javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource"
                libraryRef="postgresql-library"/>

    <dataSource id="datasource" 
                jndiName="jdbc/database"
                jdbcDriverRef="postgresql-driver"
                type="javax.sql.ConnectionPoolDataSource"
                transactional="true">
        <properties serverName="172.17.0.2"
                    portNumber="5432"
                    databaseName="lab10"
                    user="postgres"
                    password="password"/>
    </dataSource>
    
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"/>

    <webApplication location="microservices.war" contextRoot="/">
        <classloader apiTypeVisibility="+third-party" />
    </webApplication>
    <mpMetrics authentication="false"/>

    <!-- This is the keystore that will be used by SSL and by JWT. -->
    <keyStore id="defaultKeyStore" location="public.jks" type="JKS" password="atbash" />


    <!-- The MP JWT configuration that injects the caller's JWT into a ResourceScoped bean for inspection. -->
    <mpJwt id="jwtUserConsumer" keyName="theKeyId" audiences="targetService" issuer="https://server.example.com"/>

</server>
